$color: #00a94f;
.nav {
    display: flex;
    justify-content: space-between;
    min-width: 1200px;
    height: 88px;
    width: 100vw;
    background: #fff;
    box-shadow: 3px 3px 3px #b1adad;
    padding: 0 15px;
    display: flex;
    align-items: center;
    .left {
        display: flex;
    }
    .logo {
        max-width: 180px;
    }
    .navList {
        display: flex;
        .navListItem {
            position: relative;
            &:hover {
                color: #00a94f;
            }
            // width: 80px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 30px;
            .navListName {
                font-size: 16px;
                vertical-align: sub;
            }
            .downIcon {
                margin-top: 10px;
                height: 20px;
                vertical-align: sub;
                margin-left: 5px;
                &:hover {
                    color: #00a94f;
                }
            }
            .navDropDown {
                top: 50px;
                left: 0px;
                border: none;
                white-space: nowrap;
                padding: 15px;
                position: absolute;
                background: #fff;
                box-shadow: 0 0 50px 0 rgba(32, 32, 32, 0.15);
                -webkit-box-shadow: 0 0 50px 0 rgba(32, 32, 32, 0.15);
                border-radius: 0.4rem;
                z-index: 999;
                &::before {
                    background-color: #fff;
                    content: "";
                    height: 20px;
                    left: 25px;
                    position: absolute;
                    top: -10px;
                    -webkit-transform: rotate(45deg);
                    -moz-transform: rotate(45deg);
                    -o-transform: rotate(45deg);
                    transform: rotate(45deg);
                    width: 20px;
                    -webkit-transition: all 0.1s ease 0;
                    -moz-transition: all 0.1s ease 0;
                    -o-transition: all 0.1s ease 0;
                    transition: all 0.1s ease 0;
                }
                .children {
                    font-size: 14px;
                    padding: 14px 20px 14px 10px;
                    border-bottom: 1px solid #e4e8ec;
                    // display: inline-block;
                    color: #70798b;
                    -webkit-transition: all 0.3s ease 0;
                    -moz-transition: all 0.3s ease 0;
                    -o-transition: all 0.3s ease 0;
                    transition: all 0.3s ease 0;
                    &:hover {
                        padding-left: 15px;
                        color: $color;
                    }
                }
            }
        }
    }
    .userBox {
        cursor: pointer;
        &:hover {
            color: #00a94f;
        }
        margin-right: 20px;
        .userIcon {
            font-size: 20px;
        }
        .loginText {
            font-size: 16px;
            margin-left: 10px;
        }
    }
}

.pl15px {
    padding-left: 15px;
}

.active {
    color: #00a94f !important;
}

.body {
    margin-top: 20px;
    width: 1200px;
    margin: 0 auto;
}
.modalContainer {
    max-width: 600px;
    min-height: 200px;
    background-color: #fff;
    border-radius: 5px;
    z-index: 99;
    font-family: raleway, sans-serif;
    .modalLogin {
        text-align: center;
        font-size: 25px;
        font-weight: 800;
    }
    .loginForm {
        .username {
            margin-top: 10px;
            display: inline-block;
            margin-bottom: 0.5em;
        }
        .userNameContainer {
            margin-top: 10px;
            border-radius: 3px;
            padding: 5px 0;
            width: 472px;
            display: flex;
            align-items: center;
            background: #f3f4f5;
            .user {
                font-size: 20px;
                margin-left: 10px;
            }
        }
        input {
            border: none;
            background: #f3f4f5;
            font-size: 18px;
            line-height: 40px;
            border-radius: 4px;
            padding-left: 30px;
            box-shadow: none;
            width: 380px;
        }
    }
    .password {
        display: flex;
        justify-content: space-between;
        .eyes {
            cursor: pointer;
            margin-right: 20px;
        }
    }
    .btn {
        margin-top: 10px;
        border-radius: 5px;
        height: 50px;
        background: $color!important;
        color: white!important;
        border: none!important;
        margin-bottom: 20px;
        &:hover {
            background-color: $color;
            color: white;
        }
    }
    .foot {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        background-color: #eceef3;
        height: 64px;
        background-color: #eceef3;
        height: 64px;
        width: 520px;
        margin-left: -24px;
        position: absolute;
        .gay {
            color: #666;
        }
        .footLeft, .footRight {
            display: flex;
            align-items: center;
        }
        .footLeft {
            padding-left: 20px;
        }
        .footRight {
            padding-right: 20px;
        }
    }
}
